<%= form_with model: article do |form| %>
  <p>
    <%= form.label :status %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: (form.object.new_record? ? "private": form.object.status) %>
  </p>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.rich_text_area :body %>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </p>
  <p>
    <%= link_to "Cancel", (form.object.new_record? ? articles_path : article) %>
    <%= form.submit %>
  </p>
<% end %>
