<!DOCTYPE html>
<html>
  <head>
    <title>Mackenzie Salloum</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path, class: cp(root_path, request.path) %></li>
        |
        <li><%= link_to "Blog", blog_path, class: cp(blog_path, request.path) %></li>
      </ul>
      <div class="auth">
        <%# TODO: Make this link only for logged-in users %>
        <% if user_signed_in? %>
          <div><%= current_user.email %></div>
          <ul>
            <li><a href="/">Admin</a></li>
            <li><%= button_to "Sign out", destroy_user_session_path, method: :delete %></li>
          </ul>
        <% else %>
          <%= link_to "Sign in", new_user_session_path, class: cp(new_user_session_path, request.path) %>
        <% end %>
      </div>
    </nav>
    <main>
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
