<!DOCTYPE html>
<html>
  <head>
    <title>Mackenzie Salloum</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path, class: cp(root_path, request.path) %></li>
        |
        <li><%= link_to "Blog", blog_path, class: cp(blog_path, request.path) %></li>
      </ul>
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
